/* General styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #34495e;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
}

/* Navigation */
nav {
    background-color: #e0e0e0;
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    display: inline-block; /* Not required with flexbox */
}

nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in-out;
}

nav a:hover {
    background-color: #f1f1f1;
}

/* Main content */
main {
    padding: 20px;
}

.flex-container {  /* Styles for sections with flex layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px; /* Set minimum height for sections */
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

p {
    line-height: 1.6;
}

/* Footer */
footer {
    background-color: #34495e;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Responsiveness (optional) */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}
